<ion-header>
    <ion-toolbar>
      <ion-title>
        Novo Match
      </ion-title>
      <ion-buttons slot="secondary">
        <ion-button routerLink="/tabs/tab2">
          <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item>
          <ion-label class="ion-text-center">E aí?</ion-label>
      </ion-item>
      <ion-item>
          <ion-img [src]="matches[0].matchPic"></ion-img>
      </ion-item>
      <ion-button color="danger" style="float:left">Não quero</ion-button>
      <ion-button color="success" style="float:right">Eu quero</ion-button>
  </ion-content>
  