<ion-header>
  <ion-toolbar>
    <ion-title>
      Novo Match
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs/tab2">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="matches[current] != null">
    <ion-label class="ion-text-center">E aí?</ion-label>
  </ion-item>
  <ion-item *ngIf="matches[current] != null">
    <ion-img [src]="matches[current].matchPic"></ion-img>
  </ion-item>
  <ion-item *ngIf="matches[current] == null">
    Procurando mais matches...
  </ion-item>
  <ion-button *ngIf="matches[current] != null" color="danger" style="float:left" (click)="showNext()">Não quero
  </ion-button>
  <ion-button *ngIf="matches[current] != null" color="success" style="float:right" (click)="showNext()">Eu quero
  </ion-button>
</ion-content>