<ion-toolbar color="success">
  <ion-title *ngIf="personData">{{ personData.name }}</ion-title>
  <ion-buttons slot="start">
    <ion-button routerLink="/tabs/tab1">
      <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
    </ion-button>
  </ion-buttons>
  <!-- <ion-buttons slot="secondary">
    <ion-button>
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
  </ion-buttons> -->
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content fullscreen>
  <ion-list *ngIf="user && personData">
    <div *ngFor="let message of messageExibition">
      <ion-item *ngIf="!message.sentByMe">
        <ion-thumbnail slot="start">
          <ion-img [src]="personData.pic"></ion-img>
        </ion-thumbnail>
        <ion-label class="ion-text-start ion-text-wrap"
          >{{ message.message }}
        </ion-label>
      </ion-item>
      <ion-item *ngIf="message.sentByMe">
        <ion-label class="ion-text-end ion-text-wrap">{{
          message.message
        }}</ion-label>
        <ion-thumbnail slot="end">
          <ion-img [src]="user.pic"></ion-img>
        </ion-thumbnail>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-item>
  <ion-input
    placeholder="Digite aqui..."
    [(ngModel)]="messageInput"
    (keyup.enter)="sendMessage()"
  ></ion-input>
</ion-item>
