<ion-app>
    <ion-header translucent>
        <ion-toolbar>
            <ion-title>Contatos</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content fullscreen>
        <ion-list>
            <ion-list-header>
                Conversas Recentes
            </ion-list-header>

            <!-- <app-card-list [listedChats]="recentChats"></app-card-list> -->
            <ion-item *ngFor="let chat of recentChats">
                <ion-avatar slot="start">
                    <img src="{{chat.pic}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{chat.name}}</h2>
                    <h3>{{chat.status}}</h3>
                    <p>{{chat.lastMsg}}</p>
                </ion-label>
            </ion-item>

        </ion-list>

        <ion-list>
            <ion-list-header class="dot-div">
                Online <span class="online dot"></span>
            </ion-list-header>

            <ion-item *ngFor="let chat of onlineChats">
                <ion-avatar slot="start">
                    <img src="{{chat.pic}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{chat.name}}</h2>
                    <h3>{{chat.status}}</h3>
                    <p>{{chat.lastMsg}}</p>
                </ion-label>
            </ion-item>

        </ion-list>

        <ion-list>
            <ion-list-header class="dot-div">
                Offline <span class="dot"></span>
            </ion-list-header>

            <ion-item *ngFor="let chat of offlineChats">
                <ion-avatar slot="start">
                    <img src="{{chat.pic}}">
                </ion-avatar>
                <ion-label>
                    <h2>{{chat.name}}</h2>
                    <h3>{{chat.status}}</h3>
                    <p>{{chat.lastMsg}}</p>
                </ion-label>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-app>