<ion-header>
  <ion-toolbar>
    <ion-title>
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list lines="full" class="ion-no-margin ion-no-padding">

    <ion-item>
      <ion-label position="stacked">&nbsp;</ion-label>
      <ion-avatar slot="start">
        <img [src]="profile.pic">
      </ion-avatar>
      <ion-button expand="block" color="primary">Alterar</ion-button>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nome completo <ion-text color="success">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="profile.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Data de Nacimento <ion-text color="success">*</ion-text>
      </ion-label>
      <ion-datetime displayFormat="DD / MM / YYYY" [(ngModel)]="profile.birth"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Distância<ion-text color="success">*</ion-text>: {{profile.range}} km
      </ion-label>
      <ion-range pin="false" min="0" max="100" color="success" [(ngModel)]="profile.range">
        <ion-icon slot="end" name="bicycle">km</ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

</ion-content>